.loginbox {
    /* 아이템들 박스 */
    width: 300px;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
}
.form-signin {
    /* 전체창 */
}

.form-floating {
    /* 로그인 비번 치는 창 */
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
h1 {
    /* 로그인 글자 부분 */
    text-align: center;
}

.btn {
    /* 버튼 색깔, 모서리 등등 */
    background-color: black;
    border-radius: 0;
    border-color: transparent;
}

