<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Sixth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KKK팀 DB 플젝</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <form method="get" name="NavIntro" action='/About'>
                        <a class="nav-link" href="#" form="NavIntro"
                            onclick="javascript:document.NavIntro.submit();">소개</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" name="NavSearch" action='/Search'>
                        <a class="nav-link" href="#" form="NavSearch"
                            onclick="javascript:document.NavSearch.submit();">검색</a>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">게시물</a>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="get" name="NavNotice" action='/Article/Notice'>
                                <a class="dropdown-item" href="#" form="NavNotice"
                                    onclick="javascript:document.NavNotice.submit();">공지</a>
                            </form>
                        </li>
                        <li>
                            <form method="get" name="NavFree" action='/Article/Free'>
                                <a class="dropdown-item" href="#" form="NavFree"
                                    onclick="javascript:document.NavFree.submit();">자유글</a>
                            </form>
                        </li>
                        <li>
                            <form method="get" name="NavQNA" action='/Article/QNA'>
                                <a class="dropdown-item" href="#" form="NavQNA"
                                    onclick="javascript:document.NavQNA.submit();">QnA</a>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <form method="get" name="NavBook" action='/Bookmark'>
                        <% if (LS==0) { %>
                            <a class="nav-link disabled" href="#" form="NavBook"
                                onclick="javascript:document.NavBook.submit();">북마크</a>
                            <% } else { %>
                                <a class="nav-link" href="#" form="NavBook"
                                    onclick="javascript:document.NavBook.submit();">북마크</a>
                                <% } %>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <form method="get" name="NavPaperAdd" action='/PaperAdd/Paper'>
                    <% if (LS==0) { %>
                        <a class="nav-link dropdown-toggle disabled" href="#" form="NavPaperAdd">논문 추가</a>
                        <ul class="dropdown-menu"></ul>
                        <% } else { %>
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">논문 추가</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form method="get" name="NavPaperP" action='/PaperAdd/Paper'>
                                        <a class="dropdown-item" href="#" form="NavPaperP"
                                            onclick="javascript:document.NavPaperP.submit();">논문</a>
                                    </form>
                                </li>
                                <li>
                                    <form method="get" name="NavPaperA" action='/PaperAdd/Author'>
                                        <a class="dropdown-item" href="#" form="NavPaperA"
                                            onclick="javascript:document.NavPaperA.submit();">저자</a>
                                    </form>
                                </li>
                                <li>
                                    <form method="get" name="NavPaperJ" action='/PaperAdd/Journal'>
                                        <a class="dropdown-item" href="#" form="NavPaperJ"
                                            onclick="javascript:document.NavPaperJ.submit();">저널</a>
                                    </form>
                                </li>
                                <li>
                                    <form method="get" name="NavPaperK" action='/PaperAdd/Keyword'>
                                        <a class="dropdown-item" href="#" form="NavPaperK"
                                            onclick="javascript:document.NavPaperK.submit();">키워드</a>
                                    </form>
                                </li>
                            </ul>
                        <% } %>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" name="NavLogin" action='/Login'></form>
                    <a class="nav-link" href="#" form="NavQNA"
                        onclick="javascript:document.NavLogin.submit();">로그인</a>
                    </form>
                </li>
            </ul>
                <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                    <%= id %>
                </h1>
        </div>
    </div>
</nav>
  
  <main class="form-signin w-100 m-auto">
    <div class="loginbox">
      <form method="post" id="MainLogin">
        <h1 class="h3 mb-3 fw-normal c">로그인</h1>
        <div class="form-floating">
          <!-- type을 email로 해놓으면 아이디가 name@example.com으로 제한되어버려서 바꿨음 --> 
          <input type="text" class="form-control" id="floatingInput" name="MainLoginID" placeholder="name@example.com">
          <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="MainLoginPW" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="w-50 btn btn-lg btn-primary" type="submit" id="btn_SU" form="MainLogin"
            onclick="javascript: form.action='/Login/SU'">회원가입</button>
          <button class="w-50 btn btn-lg btn-primary" type="submit" id="btn_SI" form="MainLogin"
            onclick="javascript: form.action='/Login/REQ'">로그인</button>
          <!-- <input class="w-50 btn btn-lg btn-primary" type="button" value="로그인"> -->
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
      </form>
    </div>
  </main>


  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="/js/login.js"></script>
</body>

</html>